.bg{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSbLaCHCZ7kA3FVWCd5-nrST9YvYCiED0KIjbhu7FzyHwChdLOr");
    background-attachment:fixed;
    background-size: cover;
   background-repeat: no-repeat;

    }
.title{
    color: indigo;
    font-size: 30px;

    font-weight: bold;
    margin-right: 3px;

    padding-top:4px ;
    padding-bottom: 4px;

background-color:plum;}

.subtitle{
     color: palevioletred;
    font-size: 30px;

    font-weight: bold;
    margin-right: 4px;
    padding-top:4px ;
    padding-bottom: 4px;

    background-color:plum;
    }


Image{

height: 1000px;
width: 1000px;
margin:45 45 45 45;
}

Button{
    background-color: plum;
    font-family:fantasy;
    font-size: 18px;
    width: 50%;
    border-radius: 50px;

}
